<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <img src="{{.Image}}">
    <form class="select" method="post" action="/download">

        <div class="downloadErea">
            <div class="title">
                {{.Title}}
            </div>
            <div class="center">
                <select name="Quality">
                    <optgroup label="Video (mp4)">
                        {{range .QualityVideo}}
                        <option value="{{.}}"> {{.}} </option>
                        {{end}}
                    </optgroup>
                    <optgroup label="Audio (mp3)">
                        {{range .QualityAudio}}
                        <option value="{{.}}"> {{.}} </option>
                        {{end}}
                    </optgroup>
                </select>
                <button type="submit" class="button">download</button>
            </div>
    </form>
    </div>
</body>

</html>